
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

header, main, footer { 
    max-width: 700;
    margin: 0 auto;
}

header {
    border-radius: 6px;
    border: 1px solid #bbb;
    padding: 10px;
    background-color: #5b3094;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    box-shadow: 1px 1px 1px 1px;
    justify-content: center;
}

picture{
    padding: 10px;
    border-radius: 6px;
}

h1 {
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}


footer {
    border-radius: 6px;
    background-color: #5b3094;
    display: grid;
    align-items: center;
    justify-content: center;
    line-height: 2.75em;
    font-size: smaller;
  }

#lastModified {
    text-align: center;
	font-size: smaller;
    display: grid;
}

