@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    text-align: center;
    font-size: 16px;
    background-color: #ffff; 
}

header {
    border-radius: 6px;
    border: 1px solid #bbb;
    background-color: #5b3094;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: .8rem;
    padding-bottom: .8rem;
}






h1 {
    margin: .5rem;
    color:   #000;
    font-family: 'Roboto', sans-serif;
}

header h2 {
    color:   #000;
    font-family: 'Roboto', sans-serif;
}

.main_content_boxes { 
    width: 100%;
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}
 

/*picture{
    padding: 10px;
    border-radius: 2px;
    width: 400;
    height: 600;
}*/


h3, h4 {
    font-family: 'Roboto', sans-serif;
    color:   #000;
    letter-spacing: 6px;
    margin: 0;
}
.imgage {
    padding: .3rem;
}

img{
    width: 100%;
    max-width: 50rem;
    height: 100%;
}
.box1, .box2, .box3 {
    background-color: #f4f3f3;
    margin: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 5px 5px 10px #30303049;
    border: 1px black;
}
p {
    font-family: 'Roboto', sans-serif;
    color: #371168;
}

footer {
    border-radius: 6px;
    background-color: #5b3094;
    grid-template-columns: 1fr max-content repeat(3, max-content);
    align-items: center;
    justify-content: center;
    line-height: 2.75em;
    font-size: smaller;
  }

#lastModified {
    text-align: center;
	font-size: smaller;
    display: grid;
}


